/build
/graphedit

/data/*.graph.*

# editor garbage
.*.swp
*.pro*
*.kdev4

# tex output
doc/**/*.aux
doc/**/*.log
doc/**/*.out
doc/**/*.toc
doc/**/*.bbl
doc/**/*.blg
doc/**/*.pdf
doc/**/*.nav
doc/**/*.snm
/.ccls-cache
/test_finder
/json2csv
